@model ToDo.ViewModels.AssignmentEditViewModel;
<h2>Details</h2>
<div class="task-view">
    <div class="form-container">
        <label asp-for="AssignmentName"></label>
        <div>
            <!--<input asp-for="AssignmentName" class="form-input" />-->
            <p>@Html.DisplayFor(Model => Model.AssignmentName)</p>
        </div>
    </div>
    <div class="form-container">
        <label asp-for="AssignmentDescription"></label>
        <div>
            <!--<textarea asp-for="AssignmentDescription" class="form-input"></textarea>-->
            <p>@Html.DisplayFor(Model => Model.AssignmentDescription)</p>
        </div>
    </div>
    <div class="form-container">
        <label asp-for="DueDate"></label>
        <div>
            <!--<input asp-for="DueDate" class="form-input" />-->
            <span>@Html.DisplayFor(Model => Model.DueDate)</span>
        </div>
    </div>
    <div class="form-container completed-container">
        <label asp-for="Completed"></label>
        <div class="completed-form">
            <div class="completed-notification" data-notif="moved"></div>
            <input id="assignmentEditComplete" asp-for="Completed" type="checkbox" class="form-input" data-id="@Model.AssignmentID"/>
            <span asp-validation-for="Completed"></span>
        </div>
    </div>
    <div class="submit-container my-4">
        <a id="editAssignment" class="submit-a-button button-base my-2" data-url="@Url.Action("EditAssignment", "Assignment", new {Id = Model.AssignmentID})">Edit</a>
        <a class="delete-a-button button-base my-2" asp-controller="Assignment" asp-action="RemoveAssignment" asp-route-id="@Model.AssignmentID">Delete</a>
    </div>
</div>