@model IEnumerable<ToDo.Models.DataModels.Assignment>

@if(Model.Count().Equals(0))
{
    <div class="notice">
        <h2>You have not created any assignments</h2>
        <p>Click below to create one</p>
        <button class="btn btn-primary submit-button">@Html.ActionLink("Create Assignment", "CreateAssignment", "Assignment")</button>
    </div>
}
else{
    foreach(var assignment in Model){
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@assignment.AssignmentName</h5>
                <p class="card-text">@assignment.AssignmentDescription</p>
                <p>Due: @assignment.DueDate</p>
                <a class="submit-a-button button-base" asp-controller="Assignment" asp-action="EditAssignment" asp-route-id="@assignment.AssignmentID">Edit</a>
                <a class="delete-a-button button-base" asp-controller="Assignment" asp-action="RemoveAssignment" asp-route-id="@assignment.AssignmentID">Delete</a>
            </div>
        </div>
    }
    <button class="btn btn-primary">@Html.ActionLink("Create Assignment", "CreateAssignment", "Assignment")</button>
    
}

