@model IEnumerable<ToDo.Models.DataModels.Assignment>

@if(Model.Count().Equals(null))
{
    <div class="notice">
        <h2>You have not created any assignments</h2>
        <p>Click below to create one</p>
        <button class="btn btn-primary">@Html.ActionLink("Create Assignment", "CreateAssignment", "Assignment")</button>
    </div>
}
else{
    foreach(var assignment in Model){
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">@assignment.AssignmentName</h5>
                <p class="card-text">@assignment.AssignmentDescription</p>
                <p>Due: @assignment.DueDate</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
                <button class="btn btn-primary">@Html.ActionLink("Edit", "EditAssignment", "Assignment", new{id = assignment.AssignmentID}, null)</button>
                <button class="btn btn-danger">@Html.ActionLink("Delete", "RemoveAssignment", "Assignment", new {id = assignment.AssignmentID})</button>
            </div>
        </div>
    }
    <button class="btn btn-primary">@Html.ActionLink("Create Assignment", "CreateAssignment", "Assignment")</button>
    
}

