@using Microsoft.AspNetCore.Identity
@using ToDo.Models.DataModels
@using ToDo.ViewModels
@model AssignmentListModel;
@inject SignInManager<IdentityUser> signUser;

@if(!signUser.IsSignedIn(User))
{
    <div class="notice">
        <h2>You are not currently logged in</h2>
        <p>Please login to view or create assignments</p>
    </div>
}
@if ( Model.AssignmentList.Count().Equals(0) && signUser.IsSignedIn(User))
{
    <div class="notice">
        <h2>You have not created any assignments</h2>
        <p>Click below to create one</p>
        <button id="createAssignment" data-url="@Url.Action("CreateAssignment", "Assignment")" class="btn btn-primary submit-button">Create</button>
    </div>
}
else if (Model.AssignmentList.Count() > 0 && signUser.IsSignedIn(User))
{

    <button id="createAssignment" data-url="@Url.Action("CreateAssignment", "Assignment")" class="btn btn-primary my-2">Create</button>
    <select class="task-sort">
        <option>Sort by...</option>
        <option value="1">Due Date</option>
        <option value="2">A-Z</option>
        <option value="3">Z-A</option>
    </select>
    <div class="task-container">
        <div class="task-list">
            @foreach (var Model in Model.AssignmentList)
            {

                <a id="taskHolder" class="task-anchor" data-url="@Url.Action("AssignmentDetails", "Assignment", new {Id = Model.AssignmentID})">
                    <div class="card my-2 task-holder cd active" style="width: 18rem;" id="card">
                        <div class="card-body">
                            <h5 class="card-title" id="assignmentName">@Model.AssignmentName</h5>
                            <div>
                                <p id="assignmentDate">@Model.StrDate</p>
                                <p id="assignmentTime">@Model.StrTime</p>
                            </div>

                            <i class="fa-solid fa-angle-up"></i>
                            <div class="task-desc">
                                <p id="assignmentDescription" class="card-text">@Model.AssignmentDescription</p>
                                <a id="editAssignment" class="submit-a-button button-base my-2" data-url="@Url.Action("EditAssignment", "Assignment", new {Id = Model.AssignmentID})">Edit</a>
                                <a class="delete-a-button button-base my-2" asp-controller="Assignment" asp-action="RemoveAssignment" asp-route-id="@Model.AssignmentID">Delete</a>
                            </div>
                        </div>
                    </div>
                </a>
            }
        </div>



    </div>


}

