@using Microsoft.AspNetCore.Identity
@using ToDo.Models.DataModels
@using ToDo.ViewModels
@model AssignmentListModel;
@inject SignInManager<IdentityUser> signUser;

@if(!signUser.IsSignedIn(User))
{
    <div class="notice">
        <h2>You are not currently logged in</h2>
        <p>Please login to view or create assignments</p>
    </div>
}
@if ( Model.AssignmentList.Count().Equals(0) && signUser.IsSignedIn(User))
{
    <div class="notice">
        <h2>You have not created any assignments</h2>
        <p>Click below to create one</p>
        <button id="createAssignment" data-url="@Url.Action("CreateAssignment", "Assignment")" class="btn btn-primary submit-button">Create</button>
    </div>
}
else if (Model.AssignmentList.Count() > 0 && signUser.IsSignedIn(User))
{
    <div class="button-group">
        <a class="button-base list-switch list-switch-active" data-type="incomplete">Current Todo</a>
        <a class="button-base list-switch" data-type="completed">Completed</a>
    </div>
    <div class="sort-container mx-2">
        <button id="createAssignment" data-url="@Url.Action("CreateAssignment", "Assignment")" class="btn btn-primary my-2">Create</button>
        <select class="task-sort">
            <option>Sort by...</option>
            <option value="1">Due Date</option>
            <option value="2">A-Z</option>
            <option value="3">Z-A</option>
        </select>
    </div>
    <div class="task-container">
        <div class="task-list">
            
            <div class="row task-row">
                
            @foreach (var Model in Model.AssignmentList)
            {
                 <div class="col-12 task-col-holder">
                    
                    <a id="taskHolder" class="task-anchor d-lg w-50" data-url="@Url.Action("AssignmentDetails", "Assignment", new {Id = Model.AssignmentID})">
                        
                        <div class="card my-2 task-holder cd" id="card">
                            <!--<div class="completed-icon">
                                <div class="tick-container">
                                    <i class="gg-check"></i>
                                </div>
                            </div>-->
                            <div class="card-body">
                                <h5 class="card-title h5" id="assignmentName">@Model.AssignmentName</h5>
                                <div>
                                    <p id="assignmentDate">@Model.StrDate</p>
                                    <p id="assignmentTime">@Model.StrTime</p>
                                </div>

                            <p id="assignmentCompletion" hidden>@Model.Completed</p>
                            <p id="assignmentDetailId" data-id="@Model.AssignmentID"></p>
                            </div>
                        </div>
                    </a>
                 </div>
            }
            </div>
        </div>



    </div>


}

